<!DOCTYPE html>
{%extends 'base.html'%}
{%block body_block%}
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/61af4dc2c82c976b71c02f98/1fmacfh0p';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
<div class="jumbotron">
<div class="container">
<h1>Thanks for visiting Awesomeexams</h1>
<p>Anyway we are feeling very sad becasuse you logout</p>
<h2>Pls login Again</h2>
<a href="/accounts/login" class="btn btn-primary btn-success">Login</a>
</div>
</div>
{%endblock%}